.v-application.style-1992 {
  &.theme--dark {
    background-color: #b9b9b9;
    color: black;
  }

  &.theme--light {
    background-color: white;
    color: black;
  }

  .container {
    max-width: none;
    font-family: monospace;

    a {
      color: blue;
      text-decoration: underline;

      &:visited {
        color: purple;
      }
    }

    table {
      th,
      td {
        border: 2px ridge;
      }
    }

    textarea,
    input {
      &:not([type="submit"]) {
        background: white;
        border: 2px inset;

        &:focus-visible {
          outline: none;
        }
      }

      &.submitbutton {
        background-color: #ccc;
        border: 5px outset;
        border-radius: 7px;
        padding: 5px;
        color: black;
      }
    }

    .contactform {
      label {
        margin-right: 10px;
      }
    }
  }
}
