.v-application.style-2100 {
  .loading {
    .maintitle {
      display: block;
      font-variant: small-caps;
      line-height: 1;
      animation: fadeinout 3s linear 1 forwards;
      animation-iteration-count: infinite;

      .brand {
        margin-left: 2px;
        white-space: nowrap;
      }
    }
  }

  &.mobile .loading h1 {
    font-size: 1.2em;
  }

  &.theme--dark {
    // background-color: #333;
    color: #ccc;
    background-color: #333;
    animation: animatebgdark 10s infinite;

    .loading {
      color: white;
    }
  }

  &.theme--light {
    // background-color: #ccc;
    color: #666;
    background-color: #ddd;
    animation: animatebglight 10s infinite;

    .loading {
      color: #333;
    }
  }
}

@keyframes fadeinout {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

@keyframes animatebgdark {
  0% {
    background-color: #333;
  }

  50% {
    background-color: #4f020e;
  }

  0% {
    background-color: #333;
  }
}

@keyframes animatebglight {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #ed9fac;
  }

  0% {
    background-color: #ddd;
  }
}
