.v-application {
  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.6em;
  }

  &.theme--dark .nuxt-content-editor {
    color: white;
  }

  .eraslider .v-slider.v-slider--horizontal {
    cursor: pointer;
  }
}
