.v-application {
  &.theme--dark {
    &.style-1995 {
      background-color: #999;
      color: white;
    }

    &.style-2000 {
      background-image: url('~/assets/backgrounds/starfield.jpg');
      background-color: #000;
      color: white;
    }
  }

  &.theme--light {
    &.style-1995 {
      background-color: white;
      color: black;
    }

    &.style-2000 {
      background-image: url('~/assets/backgrounds/skies.jpg');
      background-color: #ccc;
      color: black;
    }
  }

  // Container and contents overrides

  &.style-1995,
  &.style-2000 {
    .container {
      max-width: none;

      // Old-style blue links
      a {
        color: blue;
        text-decoration: underline;
      }

      a:visited {
        color: purple;
      }
    }
  }

  &.style-1995 {
    font-family: monospace;
  }

  &.style-2000 {
    font-family: 'Times New Roman', Times, serif;

    .container {
      .mainpicture img {
        border-style: outset;
      }

      .whatidopicker {
        display: table;
        margin: 0 auto;
      }
    }
  }
}
