.v-application {
  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.6em;
  }

  &.theme--dark {
    &.style-1992 {
      background-color: #999;
      color: black;
    }

    &.style-1997 {
      background-image: url('~/assets/backgrounds/starfield.jpg');
      background-color: #000;
      color: white;
    }
  }

  &.theme--light {
    &.style-1992 {
      background-color: white;
      color: black;
    }

    &.style-1997 {
      background-image: url('~/assets/backgrounds/skies.jpg');
      background-color: #ccc;
      color: black;
    }
  }

  // Container and contents overrides

  &.style-1992,
  &.style-1997 {
    .container {
      max-width: none;

      // Old-style blue links
      a {
        color: blue;
        text-decoration: underline;
      }

      a:visited {
        color: purple;
      }
    }
  }

  &.style-1992 {
    .container {
      font-family: monospace;
    }
  }

  &.style-1997 {
    .container {
      font-family: 'Times New Roman', Times, serif;

      .mainpicture img {
        border-style: outset;
      }

      .whatidopicker {
        display: table;
        margin: 0 auto;
      }
    }
  }
}
