.style-1995 {
  &.v-application {
    font-family: 'Times New Roman', Times, serif;

    .container {
      max-width: none;
    }

    &.theme--dark {
      background-color: #000;
      color: white;
    }

    &.theme--light {
      background-color: white;
      color: black;
    }
  }

  // .v-main {

  // }
}
